# 编译生成文件
*.o
*.so
*.a
*.out
*.exe
*.dll
*.gdml
*.d

**/lib/
**/temp/

# CMake/Makefile 生成目录
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
# Makefile
smsimulator5.5/doc/doxyfile

# 日志和临时文件
*.log
*.tmp
*.bak
*/tmp/
*.last
macros_temp
temp_dat_files

# VSCode 配置
.vscode/
.ipch/
*.db

# ROOT 文件和数据
*.root
*.dat
d_work/geometry/*
/bin
QMDdata
output/
output_tree/
rootfiles
plots/

# 可执行文件
bin/sim_deuteron
sim_deuteron/sim_deuteron
try/

# Python/Jupyter临时文件
__pycache__/
*.pyc
*.ipynb_checkpoints
doc
# 其他
*.swp
*.swo

assets/

# 不被排除的文件
!d_work/geometry/*.mac
