# 编译生成文件
*.o
*.so
*.a
*.out
*.exe
*.dll
*.gdml
*.d
lib/
# CMake/Makefile 生成目录
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
# Makefile
smsimulator5.5/doc/doxyfile

# 日志和临时文件
*.log
*.tmp
*.bak
*/tmp/
*.last
# VSCode 配置
.vscode/
.ipch/
*.db

# ROOT 文件和数据
*.root
*.dat
d_work/geometry/
/bin

# 可执行文件
bin/sim_deuteron
sim_deuteron/sim_deuteron
try/

# Python/Jupyter临时文件
__pycache__/
*.pyc
*.ipynb_checkpoints
doc
# 其他
*.swp
*.swo
